@utility border-primary {
  border-color: var(--color-neutral-300);
}

@utility border-secondary {
  border-color: var(--color-neutral-200);
}

@utility border-tertiary {
  border-color: var(--color-neutral-100);
}

@utility border-disabled {
  border-color: var(--color-neutral-300);
}

@utility border-disabled-subtle {
  border-color: var(--color-neutral-200);
}

@utility border-brand {
  border-color: var(--color-brand-purple-500);
}

@utility border-brand-alt {
  border-color: var(--color-brand-purple-600);
}

@utility border-brand-subtle {
  border-color: var(--color-brand-purple-100);
}

@utility border-brand-main {
  border-color: var(--color-brand-purple-500);
}

@utility border-brand-solid-hover {
  border-color: var(--color-brand-purple-700);
}

@utility border-error {
  border-color: var(--color-error-500);
}

@utility border-error-solid {
  border-color: var(--color-error-600);
}

@utility border-error-subtle {
  border-color: var(--color-error-300);
}

/* @utility border-blue {
  border-color: var(--color-blue-500);
}

@utility border-blue-subtle {
  border-color: var(--color-blue-200);
} */

@utility border-blue {
  border-color: var(--color-blue-600);
}

@utility border-blue-alt {
  border-color: var(--color-blue-700);
}

@utility border-blue-subtle {
  border-color: var(--color-blue-200);
}

@utility border-blue-main {
  border-color: var(--color-blue-600);
}

@utility border-blue-solid-hover {
  border-color: var(--color-blue-800);
}

@utility border-teal {
  border-color: var(--color-teal-500);
}

@utility border-teal-subtle {
  border-color: var(--color-teal-200);
}

@utility border-blue-light {
  border-color: #bed8ff;
}

@utility border-yellow-light {
  border-color: #efecab;
}

@utility border-pink-light {
  border-color: #f6cfed;
}

@utility border-success-subtle {
  border-color: var(--color-success-200);
}

@utility border-warning-subtle {
  border-color: var(--color-warning-300);
}
