@utility text-primary {
  color: var(--color-neutral-900);
}

@utility text-secondary {
  color: var(--color-neutral-700);
}

@utility text-tertiary {
  color: var(--color-neutral-600);
}

@utility text-quaternary {
  color: var(--color-neutral-500);
}

@utility text-white {
  color: var(--color-white);
}

@utility text-disabled {
  color: var(--color-neutral-400);
}

@utility text-placeholder {
  color: var(--color-neutral-500);
}

@utility text-placeholder-subtle {
  color: var(--color-neutral-300);
}

/* Text Brand Colors */
@utility text-brand-primary {
  color: var(--color-brand-purple-900);
}

@utility text-brand-secondary {
  color: var(--color-brand-purple-700);
}

@utility text-brand-tertiary {
  color: var(--color-brand-purple-600);
}

@utility text-brand-tertiary-alt {
  color: var(--color-brand-purple-600);
}

@utility text-brand-quaternary {
  color: var(--color-brand-purple-500);
}

@utility text-error-primary {
  color: var(--color-error-600);
}

@utility text-warning-primary {
  color: var(--color-warning-600);
}

@utility text-success-primary {
  color: var(--color-success-600);
}

@utility text-blue-primary {
  color: var(--color-blue-900);
}

@utility text-blue-secondary {
  color: var(--color-blue-700);
}

@utility text-blue-tertiary {
  color: var(--color-blue-600);
}

@utility text-blue-tertiary-alt {
  color: var(--color-blue-600);
}

@utility text-blue-quaternary {
  color: var(--color-blue-500);
}

/* @utility text-blue-primary {
  color: var(--color-blue-600);
}

@utility text-blue-secondary {
  color: var(--color-blue-700);
} */

@utility text-teal-primary {
  color: var(--color-teal-600);
}

@utility text-teal-secondary {
  color: var(--color-teal-700);
}

@utility text-secondary-hover {
  color: var(--color-neutral-800);
}

@utility text-tertiary-hover {
  color: var(--color-neutral-700);
}

@utility text-brand-primary-alt {
  color: var(--color-brand-purple-300);
}

@utility text-blue-tertiary {
  color: #3683f7;
}

@utility text-yellow-primary {
  color: #878110;
}

@utility text-pink-primary {
  color: #e55bd5;
}

@utility text-success-tertiary {
  color: var(--color-success-700);
}

@utility text-success-secondary {
  color: var(--color-success-500);
}
